/* GENERAL */

main {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 206, 237);
    min-height: 90vh;
}

.button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: .4rem 0;
    border-radius: 5px;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(88, 59, 115);
}

.button:focus {
    outline: none;
    background-color: rgb(88, 59, 115);
    border: 2px solid white;
    color: rgb(230, 215, 245);
}

/* INPUT FORM */

form {
    width: 100%;
    padding: 0 1rem;
}

.form--input-texts-container {
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
}

.form--input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form--input-container label {
    width: 40%;
    font-weight: 800;
}

.form--input-container input {
    width: 60%;
    display: block;
    padding: .3rem .5rem;
    margin-top: .2rem;
    border-radius: 5px;
    border: 1px solid white;
}

.form--input-container input:focus {
    outline: none;
    border: blueviolet 1px solid;
}

form button {
    width: 100%;
}

/* MEME IMAGE */

.meme-image-container {
    margin: 1rem auto;
    position: relative;
}

.meme-image--text {
    position: absolute;
    width: 100%;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.meme-image--text-top {
    top: 1rem;
}

.meme-image--text-bottom {
    bottom: 1rem;
}

.meme-image {
    width: 100%;
}

/* MEME BUTTONS */

.meme-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    /* margin: 1rem auto; */
}

.meme-button-container button {
    width: 40%;
}



@media screen and (min-width: 800px) {

    .button {
        font-size: 1rem;
    }

    form {
        width: 600px;
    }

    .form--input-texts-container {
        flex-direction: column;
        gap: 0;
        font-size: 1.2rem;
    }

    .meme-image-container {
        height: 60vh;
    }

    .meme-image {
        height: 100%;
    }

    .meme-button-container {
        width: 50%;
    }
}